<h1>Login</h1>
<%= form_tag "/sessions" do %>
  <%= label :user, :username %>
  <%= text_field :user, :username %>

  <%= label :user, :password %>
  <%= password_field :user, :password %>

  <%= submit_tag "Login" %>
<% end %>