<%= form_for (@user) do |f| %>
<ul>
  <li><%= f.label  :create_a_username %>
  <%= f.text_field :username %></li>

  <li><%= f.label  :create_a_password%>
  <%= f.password_field :password %></li>
  
  <li><%= f.label  :first_name %>
  <%= f.text_field :first_name %></li>

  <li><%= f.label  :last_name %>
  <%= f.text_field :last_name %></li>

  <li><%= f.label :age %>
  <%= f.number_field :age %></li>

  <li><%= f.label :tagline %>
  <%= f.text_area :tagline %></li>
  
  <li><%= f.label :bio %>
  <%= f.text_area :bio %></li>

  <li><%= f.label :picture %>
  <%= f.file_field :picture %></li>
  
</ul>
  <%= f.submit %>
  <% end %>

  




