

  <div class="text-right">
    <%= image_tag(@user.picture) %>
    <h3 class="text-right"><%= @user.first_name %> </h3>
    <h3><%= @user.age %></h3>
 
     <h3><%= @user.tagline %></h3>
    
     <p><%= @user.bio%></p>
    
    <br>


    <% if !@user.interests.empty? %>
        <h3>Potential matches ;)</h3>
        <% @interests.map do |interest| %>
        <div>
          <%= link_to interest.name, new_connection_path %>
          <% interest.excluded_user_interests(@user).map do |user| %>
          <ul><li>
          <button><%= link_to user.first_name + (" ") + user.last_name, user_path(user)%></button>
            <% end %> 
            </li>
            </ul>
        </div>
        <% end %>
      

    <% else %>
      <h5>Please select an interest to match with potential future romances</h5>
      <button><%=link_to("Add interest", likes_path)%></button>
    <% end %>
    </ul>

 <br>

 
  </div>
</div>
