<!DOCTYPE html>
<html>
  <head>
    <title>CouplesWhoCodeApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
      <% if flash[:notice] %>
      <h4><%= flash[:notice] %></h4>
    <% end %>

    <% if current_user %>
      <h2>Hi, <%= current_user.username %>!</h2>
      <%= link_to "Logout", logout_path, method: :delete %>
    <% else %>
      <%= link_to "Login", login_path %>
    <% end %>
    <%= yield %>
  </body>
</html>
