<!DOCTYPE html>
<html>
  <head>
    <title>CouplesWhoCodeApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  
  <div>
  <body>
      <% if flash[:notice] %>
      <h4><%= flash[:notice] %></h4>
    <% end %>

    <% if current_user %>
    <%= image_tag("logo/CWC LOGO.png", width: 60, height: 50) %>
      <button><%= link_to "My Profile", users_path %></button>
      <button><%= link_to "My Dates", users_path %></button>
      <button><%= link_to "Interests", users_path %></button>
      <button><%= link_to "Logout", logout_path, method: :delete %></button>
      <h2>Hi, <%= current_user.username %>!</h2>
    <% else %>
    <%= image_tag("logo/CWC LOGO.png", width: 60, height: 50) %>
      <button><%= link_to "Login", login_path %></button> 
      <button><%=link_to "Sign Up", "/new" %></button>
    <% end %>
    <%= yield %>
  </body>
  </div>
</html>
